*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
    background-color: #eee;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    
   
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
  width: 100%;
min-height: 100vh;
  background-color:#eee ;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
section h2 {
  color: #eee;
}
section p{
  opacity: 0.7;
}
section .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  max-width: 370px;
width: 75%;
padding: 30px;
height: auto;
border-radius: 3px;
overflow: hidden;
gap: 40px;


}
section .gold{
  background-color: hsl(31, 77%, 52%);
  margin-top: 40px;
}
section .cyan{
  background-color: hsl(184, 100%, 22%);
}
section .green{
background-color:hsl(179, 100%, 13%);
}
p{
  color:hsla(0, 0%, 100%, 0.75) ;
}
button{
background-color: hsl(0, 0%, 95%);
border-radius: 50px;
border:none;
padding: 15px;
width: 50%;
font-size: 15px;
font-weight: 700;
  
}

.gold button{
  color: hsl(31, 77%, 52%);
  
}


.cyan button{
color: hsl(184, 100%, 22%);
}
.green button{
color:hsl(179, 100%, 13%);
}
button:hover {
  background-color: rgba(0, 0, 0,0);
  border: 1px solid #fff;
  color:  white;
}
img{
  max-width: 80px;
  width: 80px;
}


.attribution{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-spacing: 5px;
  margin: 10px 0 10px 0;
  line-height: 1.5rem;
  
}
.attribution a{
  text-decoration: none;
  font-size: 15px;
}

@media (min-width:800px)  {
  section {
    flex-direction: row;
    padding: 30px;
  }
  section .gold{
    margin: 0;
  }
  .attribution a,
  .attribution{
    font-size: 30px ;
    
  }
  section .card{
    min-height :600px;
    font-size: 25px;
  }
  
}